/* Global styles */
html,
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #2f2f2f;
  color: white;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 100vh;
  background: linear-gradient(to right, #ffcc00, 
  #000000, #ff0000, #ffffff);
  padding: 20px;
  text-align: center;
  border-bottom: 5px solid #000;
}



nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffd700;
}

section {
  height: 100vh;
  padding: 40px;
  text-align: left;
}

section h2 {
  color: #ffcc00;
}

/* comments */
#weapons {
  background: 
  url('/assets/photos/weapons/Kaamulan_Festival_-_Battle_Cry.jpg');
  background-size: cover;
  background-position: center;
  padding: 40px;
}

#hunting-tools {
  background: linear-gradient(to right, #ffcc00, #ff0000);
  padding: 40px;
}

#culture {
  background: linear-gradient(to right, #000000, #ffcc00);
  padding: 40px;
}

#paintings {
  background: linear-gradient(to right, #ff0000, #ffffff);
  padding: 40px;
}

#people {
  background: linear-gradient(to right, #ff0000, #ffffff);
  padding: 40px;
}

footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 30px;
  margin-top: auto;
}


