/* General Styles */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Header Styles */
header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.2em; /* Increased font size for better visibility */
}

header h1 {
  color: white;
  margin: 0; /* Remove default margin */
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#weapons {
  background-color: #ffcc00;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
}
/* Grid Layout for Weapons */
.weapon-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Responsive grid */
  gap: 20px;
  padding: 20px;
  flex-grow: 1; /* Allow grid to take available space */
}

.weapon-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

.weapon-item img {
  width: 100%;
  border-radius: 8px;
}

.weapon-item p {
  margin-top: 10px;
  color: #333;
  font-weight: bold;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 30px;
  width: 100%;
  margin-top: auto;
}
